<!-- https://viacep.com.br/ -->
  <div class="row">

    <div class="input-form">
      <label for="cep">CEP</label>
      <input name="cep" type="text">
    </div>
    <div class="input-form">
      <label for="logradouro">Logradouro</label>
      <input name="logradouro" type="text">
    </div>
    <div class="input-form">
      <label for="complemento">Complemento</label>
      <input name="complemento" type="text">
    </div>
    <div class="input-form">
      <label for="bairro">Bairro</label>
      <input name="bairro" type="text">
    </div>
    <div class="input-form">
      <label for="localidade">Localidade</label>
      <input name="localidade" type="text">
    </div>
    <div class="input-form">
      <label for="uf">UF</label>
      <input name="uf" type="text">
    </div>
    <div class="input-form">
      <label for="unidade">Unidade</label>
      <input name="unidade" type="text">
    </div>

  </div>
