.lista {
  width: 50%;
  margin: 0 auto;
}

.header {
  margin: 20px;
  display: flex;
  align-items: flex-end;
}

.form {
  display: flex;
  flex: 0 0 80%;
  flex-direction: column;
}

.header button {
  margin: 0 10px;
  flex: 0 0 20%;
}

